table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

label {
    margin-bottom: 5px;
    display: flex;
}
input[type="text"]{
        margin-bottom: 5px;
        display: flex;
        
       
    }